<nav>
  <p><%= link_to 'HOME', root_path %></p>
  <p><%= link_to 'SHOW', celeb_show_path %></p>
  <p><%= link_to 'UPDATE', celeb_update_path %></p>
  <p><%= link_to 'DELETE', celeb_delete_path %></p>
</nav>
