<h1>Schools#index</h1>
<p>Find me in app/views/schools/index.html.erb</p>

<%= link_to 'Students', schools_students_path, :class => 'waves-effect waves-green btn' %>
<%= link_to 'Teachers', schools_teachers_path, :class => 'waves-effect waves-green btn' %>
<%= link_to 'Subjects', schools_subjects_path, :class => 'waves-effect waves-green btn' %>
