// Place all the styles related to the Pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  width: 100vw;
}
.card .card-image img {
  background-color: lightgrey;
}

.row .col.m2 {
  width: 20%;
}

.pokemon-show-image {
  width: 25%;
}

table {
  cursor: pointer;
  td {
    width: 10%;
    padding: 0 5px;
    img {
      width: 25%;
    }
  }
}
// .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
//   margin-right: 0;
// }

// .card {
//   &:hover {
//     transform: scale(1.05);
//   }
// }