// Place all the styles related to the Pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  width: 100vw;
  .home-container {
    height: 70%;
    overflow-y: scroll;
  }
  .show-container {
    width: 100%;
    display: grid;
    justify-content: center;
    margin-left: 0;
    height: 70%;
    overflow-y: scroll;
    .row {
      display: flex;
      place-items: center;
      justify-content: space-around;
      .col.m4, .col.m2 {
        margin-left: 0;
      }
    }
  }
  footer {
    position: fixed;
  }

}
.card .card-image img {
  background-color: lightgrey;
}

.row .col.m2 {
  width: 20%;
}

.pokemon-show-image {
  width: 25%;
}

table {
  td {
    width: 10%;
    padding: 0 5px;
    img {
      width: 25%;
    }
    .find-out-more {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


// .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
//   margin-right: 0;
// }

// .card {
//   &:hover {
//     transform: scale(1.05);
//   }
// }